server:
  port: 8088

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/pfe
    username: root
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.MySQL5Dialect

  logging:
    level:
      org.springframework: INFO
      ma.pfe: ERROR
      org.hibernate: ERROR
      org.apache: ERROR
      com.zaxxer: ERROR